*{
	font-family: sans-serif;
	body{
		margin: 0;
	}

	#encabezado{
		height: 5rem;
		display: flex;
		justify-content: space-between;
		border-bottom: solid 2px lightgray;
		padding: 0 2rem;
		font-weight: bold;
	
		#encabezado-izquierdo{
			height: 60%;
			margin: auto 0;
			display: flex;
			gap: 1rem;
			
			*{
				margin: auto;
			}
			
				img{
					height: 100%;
				}
		}
	
		#encabezado-derecho{
			margin: auto 0;
			gap: 1rem;
			display: flex;
	
			button{
				padding: .5rem 1rem;
				border: solid 2px;
				border-radius: 10px;
				font-weight: bold;
			}
		}
	}
}