// TODO Refactor: usar imports para separar en archivos si se vuelve innavegable. Ponerlos en una carpetita y cambiar
// TODO Refactor: ¿Meter en scripts y styles? ¿Por qué sí, por qué no?

$p-central: 3rem;
$text-hover: #485fc7;;
$text: #383838;
$text-light: #636363;
$paleta-1: #485fc7;
$paleta-2: #b3bdec;
$paleta-3: #d1d7f5;
$paleta-4: #f3f6ff;

*{
	font-family: sans-serif;
	body{
		margin: 0;
	}
	
	#encabezado{
		height: 80px;
		display: flex;
		justify-content: space-between;
		border-bottom: solid 1px lightgray;
		padding: 0 2rem;
		font-weight: bold;
	
		#encabezado-izquierdo{
			height: 60%;
			margin: auto 0;
			display: flex;
			gap: 1rem;
			h1{
				font-weight: 900;
				margin-right: 2rem;
			}
			a{
				color: $text!important;
				&:hover{
					color: $text-hover!important;
				}
			}
			
			*{
				margin: auto;
			}
			
				img{
					height: 100%;
				}
		}
	
		#encabezado-derecho{
			margin: auto 0;
			gap: 1rem;
			display: flex;
	
			button{

			}
			& .chip-usuario{
				display: flex;
				justify-content: start;
				align-items: center;
				gap: 0.8rem;
				flex-direction: row-reverse;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	#encabezado-izquierdo{
		h1{
			margin-right: 0!important;
		}
		a{
			font-size: 14px;
		}
	}
	#encabezado #encabezado-derecho{
		gap: 0rem!important;
	}
	#encabezado-derecho .chip-usuario .tipo-usuario, #encabezado-derecho .chip-usuario .nombre-usuario {
	  display: none;
	}
	#encabezado-derecho .chip-usuario img{
		min-width: 32px;
	}
  }
  



#columna-1, #columna-principal, #columna-3 {
	padding-top: 1.8rem;
	min-height: calc(100vh - 252px);
  
	@media screen and (max-width: 768px) {
	  min-height: auto;
	}
  }

#columna-1, #columna-3{
	padding-left: 2rem;
	padding-right: 2rem;
}

#columna-1{
	display: flex;
	justify-content: end;
	@media screen and (max-width: 768px) {
		justify-content: center;
	  }
	
	  @media screen and (max-width: 576px) {
		justify-content: start;
	  }
}

div#contenedor-principal{
	padding-top: 12px;
}

div#columna-principal{
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding-top: 1.5rem;
	padding-left: 0;
	padding-right: 0;

}


div#breadcrumbs{
	padding: 0 2rem;
	margin-bottom: 2rem;
	span{
		font-size: 0.9rem;
		color: $text-light!important;
		i{
			margin: auto 6px;
		}
		a{
			color: $text-light!important;
			&:hover{
				color: $text-hover!important;
			}
		}
	}
}
nav.breadcrumb{
	ul{
		font-size: 14px;
		li{
			font-weight: 550;
			a.crumb{
			}
		}
	}

}

div#titulo-principal.title{
	margin-left: 3rem;
}

div.navegacion-container{
	ul.navegacion{
	display: inline-block;
		li{
			margin-bottom: 0.5rem;
			font-weight: 600;
			
			a.link{
				color: $text;
				&:hover{
					color: $text-hover;
				}
			}
			
			ul.subnavegacion {
				margin-top: 5px; 
				padding-left: 2rem;
			}

		}
	}
}


#notificacion-titulo{
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
div.notificacion{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 15px;
    margin-bottom: 0.5rem;
	border-radius: 10px;
    // border-bottom: 1px solid lightgray;
	position: relative;

	&.noti-no-vista{
		background-color: $paleta-4;

		margin-top: 3rem;

		&::before{
			content: 'Nuevas';
			display: block;
			position: absolute;
			top: -2rem;
			font-weight: bold;
		}

		& ~ .noti-no-vista{
			margin-top: 0;
			
			&::before{
				content: '';
			}
		}
	}
	&:not(.noti-no-vista){
		margin-top: 3rem;

		&::before{
			content: 'Anteriores';
			display: block;
			position: absolute;
			top: -2rem;
			font-weight: bold;
		}
		
		& ~ div{
			margin-top: 0;
			
			&::before{
				content: '';
			}
		}
	}
	div.img-container{
		min-width: 60px;
		text-align: center;
		img{
		width: 40px;
		margin: auto;
		border-radius: 100%;
		margin-right: 0.8rem;
		}
	}
	div.noti-container{
		font-weight: 700;
		display: inline-block;
		padding-right:20px;
		a{
			color: $text;
            overflow: hidden;
            /* Permite el desbordamiento a la siguiente línea */
            white-space: normal;
			font-weight: 100;
		}
		.fecha{
			margin-top: 0.2rem;
			color: gray;
			font-size: 0.85rem;
			font-weight: 100;
		}
	}
}



.chip-usuario{
	display: flex;
	justify-content: start;
	align-items: center;
	.nombre-usuario, a.nombre-usuario{
		font-size: 1rem;
		font-weight: 600;
		display: inline-block;
		color: $text;
		&:hover{
			color: $paleta-1;
		}
	}
	.tipo-usuario{
		margin-left: 0.4rem;
		font-size: 0.9rem;
		font-weight: 300;
		display: inline-block;

		color: white;
		border-radius: 16px;
		padding: 2px 0.5rem;
	}
	.descripcion{
		color:grey;
		mix-blend-mode: multiply;
	}
	
	.img-usuario{
		width: 32px;
		border-radius: 100%;
	}
}

.chip-usuario-perfil{
	gap: 2rem;
    padding: 0.5rem 3rem 2rem;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
	border-bottom: 1px solid lightgray;

	.img-usuario{
		width: 200px;
		height: 200px;
	}

	.contenido-perfil{
		font-weight: 600;
	}
	.tipo-usuario{
		display: inline-block;
		color: white;
		border-radius: 16px;
		padding: 4px 1.5rem;
		margin-top: 10px;
	}
	.descripcion{
		color:grey;
		mix-blend-mode: multiply;
	}
}

.pregunta{
	
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem $p-central;
	border-bottom: 1px solid lightgray;
	
	.encabezado{
		display: flex;
		justify-content: start;
		align-items: center;
		margin-bottom: 1.3rem;
		flex-wrap: wrap;
		

	}
	.fecha{
		margin-left: 0.5rem;
		color: $text;
		font-size: 0.9rem;
		font-weight: 300;
		display: inline-block;
	}
	.titulo{
		margin-left: 0.2rem;
		color: $text;
		font-size: 1.1rem;
		line-height: 2;
		font-weight: 700;
		display:block;
		word-wrap: break-word;
		overflow-wrap: break-word;
		&:hover{
			color: $paleta-1;
		}
	}
	.cuerpo{
		margin-left: 0.2rem;
		color: $text;
		font-size: 1.2rem;
		font-weight: 500;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
	
	.cantRespuestas{
		margin-top: 1rem;
		font-size: 1rem;
		color: $paleta-1;
		font-size: 14px;
		font-weight: 600;
	}
	
	
}


@media screen and (max-width: 800px) {
	.pregunta .encabezado {
		justify-content: start;
		flex-wrap: wrap;
	}

}


.etiquetas{
	display: flex;
	justify-content: start;
	margin-top: 1.2rem;
	flex-wrap: wrap;
	gap: 1rem;
	clear: both;

	.tag{
		line-height: 1.6;
		color: gray;
		font-size: 1rem;
		text-transform: capitalize;
		border-radius: 16px;
		padding: 1px 1rem;
		
		&:hover{
			color: $text-hover;
		}
	}
	.descripcion{
		color:grey;
		mix-blend-mode: multiply;
	}
}


div.buscador{
	padding: 0px $p-central 1.8rem $p-central;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-bottom: 1px solid lightgray;
	.titulo{
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: 1rem;
	}
	input, div.tags-input{
		border-radius: 20px;
	}
}


footer#footer{
	padding: 30px 40px;
	min-height: 160px;
	display: flex;
	justify-content: space-around;
	background-color: $text;
	color: white;
	font-weight: bold;

	& > div{
		width: 100%;
	}

	#footer-content-container{
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}
	
	div img{
		width: 80px;
	}

	ul{
		display: grid;
		gap: .5rem;
		grid-template-columns: 1fr 1fr;

		a{
			color: white;
		}
	}

	#footer-enlaces-externos{
		margin: auto;
		text-align: center;

		a{
			margin: .5rem;
			display: inline-block;
			text-decoration: underline;

			&:hover{
				color: white;
			}
		}
	}
}


.chip-valoracion{
	display: flex;
    flex-direction: column;
    gap: 0rem;
	justify-content: center;
    align-items: center;
	text-align: center;
	width: 10%;
	float: left;
	margin-bottom: 1.5rem;

	button{
		// border-radius: 50%;
		padding: 0;
		border: none;
		background-color: white;
		transition: all 60ms ease-in-out;
		cursor: pointer;
		span{
			font-size: 2.6rem;
			color: $text-light;
			i{
				height: 30px;
				display: flex;
				flex-direction: column;
				gap: 0rem;
				justify-content: center;
			}
		}
	}
	button.positiva{
		&:hover{
			span{
				color: $paleta-1;
			}
		}
	}
	button.negativa{
		&:hover{
			opacity: 0.75;
		}
	}

	button:disabled, button.positiva:disabled, button.negativa:disabled{
		span{
			color: $text-light;
		}
		opacity: 0.3;
		cursor: not-allowed;
	  }
	div.valoraciones{
		line-height: 1;
		//margin: 0.5rem;
		font-weight: 700;
		font-size: 1.2rem;
	}

}

div.respuesta{
	margin-left: auto;
	margin: 1.5rem auto;
	padding-left: 1rem;
	padding-top: 1rem;
	border-top: 1px solid lightgray;
	display: flex;
	justify-content: right;
    gap: 1.5rem;
	&:last-child{
		border-bottom: none;
	}
	.contenedor-reporte{
		display: block;
		text-align: right;
		margin-bottom: 15px;

	}
	.fecha{
		margin-left: 0.5rem;
		color: $text;
		font-size: 0.9rem;
		font-weight: 300;
		display: inline-block;
	}
	.valoracion{
		min-width: 60px;
	}
	.cuerpo{
		min-width: 85%;
		word-wrap: break-word;
		overflow-wrap: break-word;
		.usuario{
			margin-top: 1.5rem;
			display: flex;
			justify-content: end;
			align-items: center;
			margin-left: auto;
			flex-wrap: wrap;
			margin-right: 1.5rem;
			& .chip-usuario img{
				width: 24px;
			}
		}
	}
}


.reporte{
	background-color: white;
	border: none;
	padding: 0;
	position: relative;
	right: 0;
	margin-left: auto;
    margin-right: 1rem;
	span{
		font-size: 1.5rem;
		color: gray;
		&:hover{
			color: $paleta-1;
			cursor: pointer;
		}

	}
}

button.mi-boton{
	line-height: 1.6;
	font-size: 0.8rem;
	font-weight: 700;
	padding: 8px 20px;
	border-radius: 7px;
	border: none;
	background-color: lightgray;
	cursor: pointer;
	margin: 20px auto;
}


.modal{
	.modal-content{
		.box{
			padding: 3rem;
			border-radius: 20px;
			display: grid;
			h2{
				font-size: 1.2rem;
				font-weight: 700;
			}
			.contenido{
				max-height: 70vh;
			}
		}
	}
}

.loading{
	display: flex;
	justify-content: center;
	margin: 2rem auto;
	img{
		width: 50px;
	}
}

// TODO Refactor: Considerar mandar a pregunta-viendo.css
#nueva-respuesta{
	padding: 3rem 3rem;
    border-bottom: 1px solid lightgray;
}

textarea{
	resize: vertical;
}

.noMostrar{
	display: none!important;
}
.desplazamiento-infinito{
	overflow: auto;
}


select[data-type="tags"]{
	height: 0;
  	overflow: hidden;
	border: none;
	padding: 0;
}

.opcionesPost{
	border: none;
	.button{
		border:none!important;
		
		span.icon{
			display: none
		}
	}
}
.w-100{
	width: 100%!important;
}

.dropdown-trigger{
	.button{
		border: 1px solid rgba(0,0,0,0.05)!important;
	}
}

div.dropdown-content{
	text-align: center;
	padding: 0.5rem;
	min-width: min(50%,220px);
}
a.dropdown-item{
	text-align: center!important;
	padding-right: 0!important;
	padding-left: 0!important;
}

.radio-label{
	text-align: left!important;
	font-size: 0.9rem!important;
	font-weight: 500!important;
}
div.tags-input{
	border-radius: 3px;
 	padding: 0 3px;
}


form#nueva-pregunta, form#editando-pregunta{
    padding: 0 3rem;
}

form > fieldset{
	display: grid;
}

.notification{
	text-align: center;
}
.ml-3rem{
	margin-left: 3rem;
}
.olvide-contrasenia{

 width: 100%;
}
