@charset "UTF-8";
* {
  font-family: sans-serif;
}
* body {
  margin: 0;
}
* #encabezado {
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px lightgray;
  padding: 0 2rem;
  font-weight: bold;
}
* #encabezado #encabezado-izquierdo {
  height: 60%;
  margin: auto 0;
  display: flex;
  gap: 1rem;
}
* #encabezado #encabezado-izquierdo h1 {
  font-weight: 900;
  margin-right: 2rem;
}
* #encabezado #encabezado-izquierdo a {
  color: #383838 !important;
}
* #encabezado #encabezado-izquierdo a:hover {
  color: #3e8ed0 !important;
}
* #encabezado #encabezado-izquierdo * {
  margin: auto;
}
* #encabezado #encabezado-izquierdo img {
  height: 100%;
}
* #encabezado #encabezado-derecho {
  margin: auto 0;
  gap: 1rem;
  display: flex;
}
* #encabezado #encabezado-derecho button {
  padding: 0.5rem 1rem;
  border: solid 2px;
  border-radius: 10px;
  font-weight: bold;
}

#columna-1, #columna-principal, #columna-3 {
  padding-top: 1.8rem;
  min-height: calc(100vh - 252px);
}
@media screen and (max-width: 768px) {
  #columna-1, #columna-principal, #columna-3 {
    min-height: auto;
  }
}

#columna-1, #columna-3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

#columna-1 {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 768px) {
  #columna-1 {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  #columna-1 {
    justify-content: start;
  }
}

div#contenedor-principal {
  padding-top: 12px;
}

div#columna-principal {
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  padding-top: 1.5rem;
  padding-left: 0;
  padding-right: 0;
}

div#breadcrumbs {
  padding: 0 2rem;
  margin-bottom: 2rem;
}
div#breadcrumbs span {
  font-size: 0.9rem;
  color: #636363 !important;
}
div#breadcrumbs span i {
  margin: auto 6px;
}
div#breadcrumbs span a {
  color: #636363 !important;
}
div#breadcrumbs span a:hover {
  color: #3e8ed0 !important;
}

div#titulo-principal.title {
  margin-left: 3rem;
}

div #navegacion-container {
  padding-right: 1.5rem;
}
div #navegacion-container ul.navegacion {
  display: inline-block;
}
div #navegacion-container ul.navegacion li {
  margin-bottom: 0.5rem;
  font-weight: 600;
}
div #navegacion-container ul.navegacion li a#link {
  color: #383838;
}
div #navegacion-container ul.navegacion li a#link:hover {
  color: #3e8ed0;
}

#notificacion-titulo {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

div.notificacion {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}
div.notificacion div#img-container {
  min-width: 60px;
  text-align: center;
}
div.notificacion div#img-container img {
  width: 40px;
  margin: auto;
  border-radius: 100%;
  margin-right: 0.8rem;
}
div.notificacion div#noti-container {
  display: inline-block;
  padding-right: 20px;
}
div.notificacion div#noti-container a {
  color: #383838;
  overflow: hidden;
  /* Permite el desbordamiento a la siguiente línea */
  white-space: normal;
}
div.notificacion div#noti-container #fecha {
  margin-top: 0.2rem;
  color: gray;
  font-size: 0.85rem;
}

.chip-usuario {
  display: flex;
  justify-content: start;
  align-items: center;
}
.chip-usuario .nombre-usuario {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
}
.chip-usuario .tipo-usuario {
  margin-left: 0.4rem;
  color: gray;
  font-size: 0.9rem;
  font-weight: 300;
  display: inline-block;
}
.chip-usuario .img-usuario {
  width: 32px;
  border-radius: 100%;
}

.pregunta {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 3rem 1rem 3rem;
  border-top: 2px solid lightgray;
}
.pregunta:first-child {
  border-top: none;
  padding-top: 3rem;
}
.pregunta .encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.3rem;
}
.pregunta #fecha {
  margin-left: 0.5rem;
  color: #383838;
  font-size: 0.9rem;
  font-weight: 300;
  display: inline-block;
}
.pregunta #titulo {
  margin-left: 0.2rem;
  color: #383838;
  font-size: 1.1rem;
  line-height: 2;
  font-weight: 700;
  display: block;
}
.pregunta #titulo:hover {
  opacity: 0.75;
}
.pregunta #cuerpo {
  margin-left: 0.2rem;
  color: #383838;
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
}
.pregunta .cantRespuestas {
  margin-top: 1rem;
  font-size: 1rem;
  color: #636363;
}

.etiquetas {
  display: flex;
  justify-content: start;
  margin-top: 0.8rem;
}
.etiquetas .etiqueta {
  line-height: 2.4;
  margin-left: 1rem;
  margin-right: 1.2rem;
  color: gray;
  font-size: 0.8rem;
  font-weight: 300;
  display: inline-block;
}
.etiquetas .etiqueta:hover {
  color: #3e8ed0;
}

div.buscador {
  padding: 0px 3rem 1.8rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  border-bottom: 2px solid lightgray;
}
div.buscador .titulo {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

footer#footer {
  padding: 30px 40px;
  min-height: 160px;
  display: flex;
  justify-content: space-around;
  background-color: #383838;
  color: #636363;
}
footer#footer div img {
  margin: auto;
  width: 80px;
}
footer#footer ul li a {
  font-size: 0.9rem;
  font-weight: 500;
  color: white !important;
}
footer#footer ul li a:hover {
  color: #3e8ed0 !important;
}

#chip-valoracion {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10%;
}
#chip-valoracion button {
  padding: 0;
  border: none;
  background-color: white;
  transition: all 60ms ease-in-out;
  cursor: pointer;
}
#chip-valoracion button span {
  font-size: 2.6rem;
  color: #636363;
}
#chip-valoracion button#positiva:hover {
  opacity: 0.75;
}
#chip-valoracion button#negativa:hover {
  opacity: 0.75;
}
#chip-valoracion div#valoraciones {
  line-height: 1;
  font-weight: 700;
  font-size: 1.2rem;
}

div#respuesta {
  margin-left: auto;
  margin: 1.5rem auto;
  padding-left: 1rem;
  padding-top: 1rem;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: right;
  gap: 1.5rem;
}
div#respuesta:last-child {
  border-bottom: none;
}
div#respuesta #contenedor-reporte {
  display: block;
  text-align: right;
  margin-bottom: 15px;
}
div#respuesta #fecha {
  margin-left: 0.5rem;
  color: #383838;
  font-size: 0.9rem;
  font-weight: 300;
  display: inline-block;
}
div#respuesta .valoracion {
  min-width: 60px;
}
div#respuesta .cuerpo {
  min-width: 85%;
}
div#respuesta .cuerpo .usuario {
  margin-top: 1.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  flex-wrap: wrap;
  margin-right: 1.5rem;
}
div#respuesta .cuerpo .usuario .chip-usuario img {
  width: 24px;
}

#reporte {
  background-color: white;
  border: none;
  padding: 0;
  position: relative;
  right: 0;
  margin-left: auto;
  margin-right: 1rem;
}
#reporte span {
  font-size: 1.5rem;
  color: gray;
}
#reporte span:hover {
  color: #d1be69;
  cursor: pointer;
}

button.mi-boton {
  line-height: 1.6;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 7px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
  margin: 20px auto;
}

.modal .modal-content .box h2 {
  font-size: 1.2rem;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */