// TODO Refactor: usar imports para separar en archivos si se vuelve innavegable. Ponerlos en una carpetita y cambiar

$p-central: 3rem;
$text-hover: #3e8ed0;
$text: #383838;
$text-light: #636363;

*{
	font-family: sans-serif;
	body{
		margin: 0;
	}
	
	#encabezado{
		height: 80px;
		display: flex;
		justify-content: space-between;
		border-bottom: solid 2px lightgray;
		padding: 0 2rem;
		font-weight: bold;
	
		#encabezado-izquierdo{
			height: 60%;
			margin: auto 0;
			display: flex;
			gap: 1rem;
			h1{
				font-weight: 900;
				margin-right: 2rem;
			}
			a{
				color: $text!important;
				&:hover{
					color: $text-hover!important;
				}
			}
			
			*{
				margin: auto;
			}
			
				img{
					height: 100%;
				}
		}
	
		#encabezado-derecho{
			margin: auto 0;
			gap: 1rem;
			display: flex;
	
			button{
				/* padding: .5rem 1rem;
				border: solid 2px;
				border-radius: 10px;
				font-weight: bold; */
			}
			& .chip-usuario{
				display: flex;
				justify-content: start;
				align-items: center;
				gap: 0.8rem;
				flex-direction: row-reverse;
			}
		}
	}
}



#columna-1, #columna-principal, #columna-3 {
	padding-top: 1.8rem;
	min-height: calc(100vh - 252px);
  
	@media screen and (max-width: 768px) {
	  min-height: auto;
	}
  }

#columna-1, #columna-3{
	padding-left: 2rem;
	padding-right: 2rem;
}

#columna-1{
	display: flex;
	justify-content: end;
	@media screen and (max-width: 768px) {
		justify-content: center;
	  }
	
	  @media screen and (max-width: 576px) {
		justify-content: start;
	  }
}

div#contenedor-principal{
	padding-top: 12px;
}

div#columna-principal{
	border-left: 2px solid lightgray;
	border-right: 2px solid lightgray;
	padding-top: 1.5rem;
	padding-left: 0;
	padding-right: 0;

}


div#breadcrumbs{
	padding: 0 2rem;
	margin-bottom: 2rem;
	span{
		font-size: 0.9rem;
		color: $text-light!important;
		i{
			margin: auto 6px;
		}
		a{
			color: $text-light!important;
			&:hover{
				color: $text-hover!important;
			}
		}
	}
}

div#titulo-principal.title{
	margin-left: 3rem;
}

div #navegacion-container{
	padding-right: 1.5rem;
	ul.navegacion{
	display: inline-block;
		li{
			margin-bottom: 0.5rem;
			font-weight: 600;
			
			#icono{
		
			}
			a#link{
				color: $text;	
				&:hover{
					color: $text-hover;
				}
			}
		}
	}
}


#notificacion-titulo{
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
div.notificacion{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 15px;
    margin-bottom: 0.5rem;
	border-radius: 10px;
    // border-bottom: 1px solid lightgray;


	&.noti-no-vista{
		background-color: lightyellow;
	}
	div.img-container{
		min-width: 60px;
		text-align: center;
		img{
		width: 40px;
		margin: auto;
		border-radius: 100%;
		margin-right: 0.8rem;
		}
	}
	div.noti-container{
		font-weight: 700;
		display: inline-block;
		padding-right:20px;
		a{
			color: $text;
            overflow: hidden;
            /* Permite el desbordamiento a la siguiente línea */
            white-space: normal;
			font-weight: 100;
		}
		.fecha{
			margin-top: 0.2rem;
			color: gray;
			font-size: 0.85rem;
			font-weight: 100;
		}
	}
}



.chip-usuario{
	display: flex;
	justify-content: start;
	align-items: center;
	.nombre-usuario{
		font-size: 1rem;
		font-weight: 600;
		display: inline-block;
	}
	.tipo-usuario{
		margin-left: 0.4rem;
		color: gray;
		font-size: 0.9rem;
		font-weight: 300;
		display: inline-block;
	}
	.img-usuario{
		width: 32px;
		border-radius: 100%;
	}
}

.pregunta{
	
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem $p-central 1rem $p-central;
	border-top: 2px solid lightgray;
	
	&:first-child{
		border-top: none;
		padding-top: 3rem;
	  }
	.encabezado{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.3rem;
	}
	#fecha{
		margin-left: 0.5rem;
		color: $text;
		font-size: 0.9rem;
		font-weight: 300;
		display: inline-block;
	}
	#titulo{
		margin-left: 0.2rem;
		color: $text;
		font-size: 1.1rem;
		line-height: 2;
		font-weight: 700;
		display:block;
		&:hover{
			opacity: 0.75;
		}
	}
	#cuerpo{
		margin-left: 0.2rem;
		color: $text;
		font-size: 1.2rem;
		font-weight: 500;
		display: inline-block;
	}
	
	.cantRespuestas{
		margin-top: 1rem;
		font-size: 1rem;
		color: $text-light;
	}
	
	
}

.etiquetas{
	display: flex;
	justify-content: start;
	margin-top: 0.8rem;
	.etiqueta{
		line-height: 2.4;
		margin-left: 1rem;
		margin-right: 1.2rem;
		color: gray;
		font-size: 0.8rem;
		font-weight: 300;
		display: inline-block;
		&:hover{
			color: $text-hover;
		}
	}
}


div.buscador{
	padding: 0px $p-central 1.8rem $p-central;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-bottom: 2px solid lightgray;
	.titulo{
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: 1rem;
	}
}


footer#footer{
	padding: 30px 40px;
	min-height: 160px;
	display: flex;
	justify-content: space-around;
	background-color: $text;
	color: $text-light;
	div img{
		margin: auto;
		width: 80px;
	}
	ul{
		li{
			a{
				font-size: 0.9rem;
				font-weight: 500;
				color: white!important;
				&:hover{
					color: $text-hover!important;
				}
			}
		}
	}
}


.chip-valoracion{
	display: flex;
    flex-direction: column;
    gap: 0rem;
	justify-content: center;
    align-items: center;
	text-align: center;
	width: 10%;

	button{
		// border-radius: 50%;
		padding: 0;
		border: none;
		background-color: white;
		transition: all 60ms ease-in-out;
		cursor: pointer;
		span{
			font-size: 2.6rem;
			color: $text-light;
		}
	}
	button#positiva{
		&:hover{
			//background-color: $text-hover;
			opacity: 0.75;
		}
	}
	button#negativa{
		&:hover{
			opacity: 0.75;
		}
	}
	div.valoraciones{
		line-height: 1;
		//margin: 0.5rem;
		font-weight: 700;
		font-size: 1.2rem;
	}

}

  div#respuesta{
	margin-left: auto;
	margin: 1.5rem auto;
	padding-left: 1rem;
	padding-top: 1rem;
	border-top: 1px solid lightgray;
	display: flex;
	justify-content: right;
    gap: 1.5rem;
	&:last-child{
		border-bottom: none;
	}
	#contenedor-reporte{
		display: block;
		text-align: right;
		margin-bottom: 15px;

	}
	#fecha{
		margin-left: 0.5rem;
		color: $text;
		font-size: 0.9rem;
		font-weight: 300;
		display: inline-block;
	}
	.valoracion{
		min-width: 60px;
	}
	.cuerpo{
		min-width: 85%;
		.usuario{
			margin-top: 1.5rem;
			display: flex;
			justify-content: end;
			align-items: center;
			margin-left: auto;
			flex-wrap: wrap;
			margin-right: 1.5rem;
			& .chip-usuario img{
				width: 24px;
			}
		}
	}
  }


  #reporte{
	background-color: white;
	border: none;
	padding: 0;
	position: relative;
	right: 0;
	margin-left: auto;
    margin-right: 1rem;
	span{
		font-size: 1.5rem;
		color: gray;
		&:hover{
			color: #d1be69;
			cursor: pointer;
		}

	}
  }

  button.mi-boton{
	line-height: 1.6;
	font-size: 0.8rem;
	font-weight: 700;
	padding: 8px 20px;
	border-radius: 7px;
	border: none;
	background-color: lightgray;
	cursor: pointer;
	margin: 20px auto;
  }


  .modal{
	.modal-content{
		.box{
			h2{
				font-size: 1.2rem;
				font-weight: 700;
			}
		}
	}
  }

  .loading{
	display: flex;
	justify-content: center;
	margin: 2rem auto;
	img{
		width: 50px;
	}
  }