#administrar-perfiles{
	width:  100%;
	font-size: .9rem;

	thead{
		background: #ECECEC;

		th:first-child{
			width: 35%;
		}
	}

	thead th,tbody td{
		padding: 5px 1rem;
		vertical-align: middle;

	
		&.centrado{
			text-align: center;
		}
	}

	fieldset{
		display: flex;
		justify-content: center;
		gap: 1rem;
	}
	.perfil{
		display: inline-block;
		color: white;
		border-radius: 16px;
		padding: 4px 1.5rem;
		margin-top: 10px;
	}
	.descripcion{
		color:grey;
		mix-blend-mode: multiply;
	}
	

}

.switch[type="checkbox"]:checked + label::before{
	background:#88f04b !important;
}

.botonAgregar{
	margin-top: 20px;
	left:50%;
	transform: translate(-50%, -50%);
}