#administrar-usuarios{
	width: 100%;
  	// margin: 0.5rem;
	font-size: 14px;
	thead{
		background: #ECECEC;

		th:first-child{
			position: sticky;
			left: 0;
			background: #ECECEC;
			z-index: 10;
			border-right: 2px solid #f2f2f2;
		}
	}
	tbody tr{
		border: 1px solid #f2f2f2
	}
	tbody td:first-child{
		z-index: 10;
		position: sticky;
		left: 0;
		background: white;
		border-right: 2px solid #f2f2f2;
	}
	tbody tr:nth-child(2n){
		background-color: #f2f2f2;
	}
	tbody tr:nth-child(2n) .sticky{
		background-color: #f2f2f2;
	}

	thead th,tbody td{
		padding: 5px 1rem;
		vertical-align: middle;

	
		&.centrado{
			text-align: center;
		}
	}

	fieldset{
		display: flex;
		justify-content: center;
		gap: 1rem;
	}
	.perfil{
		display: inline-block;
		color: white;
		border-radius: 16px;
		padding: 4px 1.5rem;
		// margin-top: 10px;
	}
	.descripcion{
		color:grey;
		mix-blend-mode: multiply;
	}
	

}


.botonAgregar{
	margin-top: 20px;
	left:50%;
	transform: translate(-50%, -50%);
}

.switch[type="checkbox"]:checked + label::before{
	background:#f04b4c !important;
}
