#etiquetas-usadas{
	width: 100%;
	font-size: .9rem;

	thead{
		background: #ECECEC;

		th:first-child{
			width: 35%;
		}
	}

	thead th,tbody td{
		padding: 5px 1rem;
		vertical-align: middle;

	
		&.centrado{
			text-align: center;
		}
	}

	tbody tr:nth-child(2n){
		background-color: #f2f2f2;
	}
	tbody tr:nth-child(2n) .sticky{
		background-color: #f2f2f2;
	}

	fieldset{
		display: flex;
		justify-content: center;
		gap: 1rem;
	}
	.categoria{
		display: inline-block;
		color: white;
		border-radius: 16px;
		padding: 4px 1.5rem;
		margin-top: 10px;
	}
	.descripcion{
		color:grey;
		mix-blend-mode: multiply;
	}

}
