#columna-principal{
	// TODO Refactor: DRY con quienes-somos.scss
	p,h2{
		margin: 1rem 2rem;
		text-indent: .5in;
	}

	img, &>a{
		margin: auto;
		display: block;
		width: min-content;
	}

	img{
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border-radius: 10px;
	}

	&>ul{
		margin: auto;
		width: max-content;
	}
}