#moderar-posts{


	// TODO Refactor: Convertir en un import para reutilizar en varias paginas y mejorar el mantenimiento. El fieldset incluso es bien específico del footer de la tabla, de los controles de navegación, asi que ¿incluir con el componente tabla??
	width: 100%;
	font-size: .9rem;

	thead{
		background: #ECECEC;
	}

	thead th,tbody td{
		padding: 5px 1rem;
		vertical-align: middle;
		
		&.centrado{
			text-align: center;
		}
	}

	fieldset{
		display: flex;
		justify-content: center;
		gap: 1rem;
	}


	th:first-child{
		width: 100%;
	}

	tbody {
		
		td.preguntas-o-respuestas {
			border: solid 1px !important;
			padding: 5px !important;
			border-radius: 10px;
			display: block;
			margin: 5px;
			width: 100%;
    		min-width: 220px;
			
			overflow-wrap: anywhere;
	
			.pregunta, .respuesta{
				font-size: smaller !important;
				padding: 0;
				margin: 0;
	
				&>*{
					padding: 0;
					margin: 0;
				}
	
				.cuerpo{
					font-size: 1rem !important;
				}
			}
	
			.pregunta .titulo{
				display: inline;
				font-size: .95rem;
			}
	
			.respuesta{
				border:none;
				justify-content: initial;
	
				.usuario{
					margin: 0 !important;
				}
			}
		}

		td.botones{
			button{
				display: block;
				margin: .5rem auto;
			}
		}
	}

}

#moderacion-posts-modal form{
	display: flex;flex-direction: column;
	
	&>input[type="submit"]{
		margin: auto;
	}
	
	&#moderacion-preguntas-unificar{
		// TODO Refactor: El formulario no respeta el límite de altura del elemento superior.
		height: 90%;

		.moderacion-preguntas-unificar-desplinf-pregunta{
			display: flex;justify-content: space-between;
			padding: 1rem 2rem;
	
			.pregunta{
				padding: 0;
				margin: 0;
				border: none;

				.titulo{
					width: 100%;
				}
			}

			[type="radio"]{
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}
}