#nueva-pregunta{
	padding: 0 3rem;

	/* &~*{
		margin-left: 3rem;
	}  */
}

#nueva-pregunta-sugerencias{
	display: flex;
  overflow: auto;

	.pregunta{
		min-width: max-content;
		padding: .5rem 1rem;
		margin: 0;

		.titulo{
			font-size: smaller;
		}
	}
}