#nueva-pregunta-sugerencias{
	display: flex;
  overflow: auto;

	.pregunta{
		min-width: max-content;
		padding: .5rem 1rem;
		margin: 0;

		.titulo{
			font-size: smaller;
			// TODO Refactor: Esto se debe a la forma en la que se solucionó el CSS de las preguntas. Revisarlo para sacar esto.
			width: 100%;
		}
	}
}