#nueva-pregunta{
	padding: 0 3rem;
}

#nueva-pregunta-etiquetas{
	display: flex;
	justify-content: start;
	gap: 2rem;
}

// TODO UX: Alguien que use Chrome o similar vea si puede ver o notar esta lista desplegable.
select{
	height: 0;
  overflow: hidden;
	border: none;
	padding: 0;
}